ajps_reference_coding_*.ods
ajps_reference_coding_*.csv
ajps_link_coding_*.ods
ajps_link_coding_*.csv
ajps_author_website_coding_*.ods
ajps_author_website_coding_*.csv
apsr_author_website_coding_*.ods
apsr_author_website_coding_*.csv